1<!DOCTYPE html>
<html>
<head>
    <title>Fire Looper</title>
    <link href="/stylesheets/style.css" rel="stylesheet"/>
    <link href="/stylesheets/normalize.css" rel="stylesheet"/>
    <script src="/javascripts/jquery.min.js"></script>
    <!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script-->
</head>
<body>

<h3><%= loops.length %> Fire Loop<%= (loops.length == 1 ? '' : 's') %></h3>

<ul class="loop-list">
    <li rel="new">+ New </li>  

    <% for (var i=0; i < loops.length; i++) { var l=loops[i]; %>
    <li rel="<%= l.id %>">Loop <%= l.id %> by <%= l.creator %></li>    
    <% } %>
</ul>

<script>
$(function() {
    $(".loop-list li").click(function() {
        var loopId = $(this).attr("rel");
        window.location = "/loops/" + loopId;
    })
});

</script>
</body>
</html>
